:root {
    --primary-color: #00dcff;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}


h1 {
    font-size: 1.25rem;
}

h2 {
    font-size: 1.2rem;
}

h3 {
    font-size: 1.15rem;
}

h4 {
    font-size: 1.1rem;
}

h5 {
    font-size: 1.05rem;
}

h6 {
    font-size: 1rem;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    white-space: nowrap;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    overflow: hidden;
}
